.not-found-container .btn-primary {
  background-color: #84da84;
  border-color: #84da84;
}

.not-found-container .btn-primary:hover {
  background-color: #46da46;
  border-color: #46da46;
}

/* ... your existing styles ... */

.square-button {
  border-radius: 0; /* Remove border radius */
  padding: 10px 20px; /* Adjust padding as needed */
}

/* Custom CSS */
.custom-wide-container {
  max-width: 1400px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
}

  /* Custom styles for the sticky social bar */
.sticky-social-bar {
  position: fixed;
  top: 10%; /* Adjust this value to position the bar vertically */
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
}
.social-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
}
