.not-found-container .btn-primary {
  background-color: #84da84;
  border-color: #84da84;
}

.not-found-container .btn-primary:hover {
  background-color: #46da46;
  border-color: #46da46;
}

/* ... your existing styles ... */

.square-button {
  border-radius: 0; /* Remove border radius */
  padding: 10px 20px; /* Adjust padding as needed */
}
